# sequence
*.fa
*.fq
*.fp
*.fasta
*.fastp
*.pmap
*.merged
*.stopfilt
*.stoptags
*.info
*.ht
*.part
*.tagset
*.keep

# blastdb files
*.phr
*.pin
*.psd
*.psi
*.psq
*.nhr
*.nin
*.nsd
*.nsi
*.nsq
*.blastx
*.blastp

# data output
*.csv
*.tsv
*.pcounts
*.kcounts
*.mers
*.gz
*.psl
*.pgc
*.html

# py
*.pyc

#tex
*.aux
*.bbl
*.log
*.out
*.blg

.doit.db
.doit.db.*
_work/
*.ipynb_checkpoints
*.swp
*.pyc
doc/tex_out/
